@page
@model Sibers.Pages.UserPages.TasksModel
@{
}
<table class="sortable">
    <tr>
        <th data-index="0">Номер</th>
        <th data-index="1">Имя</th>
        <th data-index="2">Номер автора задачи</th>
        <th data-index="3">Номер исполнителя</th>
        <th data-index="4">Статус</th>
        <th data-index="5">Приоритет</th>
        <th colspan="2">Действие</th>
    </tr>



    @foreach (var task in Model.tasks)
    {

        <tr class="sortable">

            <td class="input">@task.id</td>
            <td class="input" name="name">@task.name</td>
            <td class="input" name="custCompany">@task.idAuthorTask</td>
            <td class="input" name="execCompany">@task.idExecTask</td>
            <td class="input" name="idPersons">@task.statusTask</td> <!--TODO-->
            <td class="input" name="idProjManager">@task.priority</td>

            <td>

                <form method="post">
                    <input hidden name="method" value="put" />
                    <input hidden name="id" value="@task.id" />
                    <input style="background-color:greenyellow" value="Update" type="submit">
                </form>
            </td>


            <td>
                <form method="post">
                    <input hidden name="method" value="delete" />
                    <input hidden name="id" value="@task.id" />
                    <input style="background-color:red" value="Delete" type="submit">
                </form>
            </td>

        </tr>
    }
</table>

<script src="~/js/sort.js"></script>

<style>
    tr {
        border: solid 2px;
    }

    td {
        border: solid 2px;
    }

    th {
        border: solid 2px;
    }

    .form-container {
        max-width: 600px;
        margin: auto;
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    label {
        display: block;
        margin-bottom: 8px;
        color: #555;
    }

    input, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .a {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #0056b3;
    }

    .toggle-button {
        margin-bottom: 15px;
        background-color: #28a745;
    }
</style>